.top-section {
  background-color: #ef9292;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 6.5vw;
}
