.bottom-section {
  background-color: #553131;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 6.5vw;
  color: #a0a0a0;
}
